In [31]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'C:\\iNeuronClass\\python\\22052021\\secure-connect-test2.zip'
}
auth_provider = PlainTextAuthProvider('OgIPRCakZCmxWlhnciKruaqR', 'r2NRv1vZIwoyfjH2idXSRwWZNZnSpwpxE1khQWAQMTj20OtpMj0tC0JMozEY7_n2_XWroSoksG-hiU1Mw5zAnZokcP4j+KGE7a7Kh-igHAAWiAQUiWPqCfQC_,h5gL9c')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("select release_version from system.local").one()
if row:
    print(row[0])
else:
    print("An error occurred.")

4.0.0.6811

In [32]:
cluster.metadata.keyspaces['ineuron3']

In [34]:
session.execute(" CREATE TABLE ineuron3.cricket_team(name text PRIMARY KEY,captain text,last_wc_title varint,wc_winning_captain text,total_title varint);").one()

In [35]:
session.execute("""INSERT INTO ineuron3.cricket_team (name,captain,last_wc_title,wc_winning_captain,total_title) VALUES (%s, %s, %s,%s,%s)""",("India", "Virat Kohli", 2011,"MS Dhoni",2)).one()
session.execute("""select *from ineuron3.cricket_team""").one()

Row(name='India', captain='Virat Kohli', last_wc_title=2011, total_title=2, wc_winning_captain='MS Dhoni')

In [38]:
session.execute("""INSERT INTO ineuron3.cricket_team (name,captain,last_wc_title,wc_winning_captain,total_title) VALUES (%s, %s, %s,%s,%s)""",("India", "Virat Kohli", 2011,"MS Dhoni",2)).one()
session.execute("""INSERT INTO ineuron3.cricket_team (name,captain,last_wc_title,wc_winning_captain,total_title) VALUES (%s, %s, %s,%s,%s)""",("Australia", "Aron Finch", 2015,"Michal Clark",3)).one()
session.execute("""INSERT INTO ineuron3.cricket_team (name,captain,last_wc_title,wc_winning_captain,total_title) VALUES (%s, %s, %s,%s,%s)""",("England", "Eoin Morgan", 2019,"Eoin Morgan",1)).one()
session.execute("""INSERT INTO ineuron3.cricket_team (name,captain,last_wc_title,wc_winning_captain,total_title) VALUES (%s, %s, %s,%s,%s)""",("West Indies", "Kraigg Brathwaite", 1979,"Clive Lloyd",2)).one()
session.execute("""INSERT INTO ineuron3.cricket_team (name,captain,last_wc_title,wc_winning_captain,total_title) VALUES (%s, %s, %s,%s,%s)""",("Sri Lanka", "Dimuth Karunaratne", 1996,"Ranatunga",1)).one()
session.execute("""INSERT INTO ineuron3.cricket_team (name,captain,last_wc_title,wc_winning_captain,total_title) VALUES (%s, %s, %s,%s,%s)""",("Pakistan", "Babar Azam", 1992,"Imran Khan",1)).one()

In [39]:
row = session.execute("""select *from ineuron3.cricket_team""").one()

In [40]:
data = [i for i in row]
data

['Sri Lanka', 'Dimuth Karunaratne', 1996, 1, 'Ranatunga']

In [41]:
print(row)

Row(name='Sri Lanka', captain='Dimuth Karunaratne', last_wc_title=1996, total_title=1, wc_winning_captain='Ranatunga')

token@cqlsh:ineuron2> select *from ineuron2.cricket_team;

 name        | captain            | last_wc_title | wc_winning_captain
-------------+--------------------+---------------+--------------------
   Sri Lanka | Dimuth Karunaratne |          1996 |          Ranatunga
 West Indies |  Kraigg Brathwaite |          1979 |        Clive Lloyd
       India |        Virat Kohli |          2011 |           MS Dhoni
     England |        Eoin Morgan |          2019 |        Eoin Morgan
    Pakistan |         Babar Azam |          1992 |         Imran Khan
   Australia |         Aron Finch |          2015 |       Michal Clark

In [52]:
rows=session.execute("""select *from ineuron3.cricket_team;""")
for row in rows:
    print(row)

Row(name='Sri Lanka', captain='Dimuth Karunaratne', last_wc_title=1996, total_title=1, wc_winning_captain='Ranatunga')
Row(name='West Indies', captain='Kraigg Brathwaite', last_wc_title=1979, total_title=2, wc_winning_captain='Clive Lloyd')
Row(name='India', captain='Mahendra Singh Dhoni', last_wc_title=2011, total_title=2, wc_winning_captain='MS Dhoni')
Row(name='England', captain='Eoin Morgan', last_wc_title=2019, total_title=1, wc_winning_captain='Eoin Morgan')
Row(name='Australia', captain='Aron Finch', last_wc_title=2015, total_title=3, wc_winning_captain='Michal Clark')

In [53]:
rows=session.execute("""select *from ineuron3.cricket_team;""")
for row in rows:
    print ('name: {} captain: {} last_wc_title: {} wc_winning_captain: {} total_title: {}'.format(row[0],row[1], row[2], row[3], row[4]))

name: Sri Lanka captain: Dimuth Karunaratne last_wc_title: 1996 wc_winning_captain: 1 total_title: Ranatunga
name: West Indies captain: Kraigg Brathwaite last_wc_title: 1979 wc_winning_captain: 2 total_title: Clive Lloyd
name: India captain: Mahendra Singh Dhoni last_wc_title: 2011 wc_winning_captain: 2 total_title: MS Dhoni
name: England captain: Eoin Morgan last_wc_title: 2019 wc_winning_captain: 1 total_title: Eoin Morgan
name: Australia captain: Aron Finch last_wc_title: 2015 wc_winning_captain: 3 total_title: Michal Clark

In [54]:
rows=session.execute("select * from ineuron3.cricket_team WHERE name = 'India';")
for row in rows:
     print ('name: {} captain: {} last_wc_title: {} wc_winning_captain: {} total_title: {}'.format(row[0],row[1], row[2], row[3], row[4]))

name: India captain: Mahendra Singh Dhoni last_wc_title: 2011 wc_winning_captain: 2 total_title: MS Dhoni

In [55]:
rows=session.execute("select * from ineuron3.cricket_team WHERE captain = 'Eoin Morgan' ALLOW FILTERING;")
for row in rows:
    print ('name: {} captain: {} last_wc_title: {} wc_winning_captain: {} total_title: {}'.format(row[0],row[1], row[2], row[3], row[4]))

name: England captain: Eoin Morgan last_wc_title: 2019 wc_winning_captain: 1 total_title: Eoin Morgan

In [56]:
rows=session.execute("select * from ineuron3.cricket_team limit 3;")
for row in rows:
     print ('name: {} captain: {} last_wc_title: {} wc_winning_captain: {} total_title: {}'.format(row[0],row[1], row[2], row[3], row[4]))

name: Sri Lanka captain: Dimuth Karunaratne last_wc_title: 1996 wc_winning_captain: 1 total_title: Ranatunga
name: West Indies captain: Kraigg Brathwaite last_wc_title: 1979 wc_winning_captain: 2 total_title: Clive Lloyd
name: India captain: Mahendra Singh Dhoni last_wc_title: 2011 wc_winning_captain: 2 total_title: MS Dhoni

In [57]:
rows=session.execute("select * from ineuron3.cricket_team where last_wc_title>2000 ALLOW FILTERING;")
for row in rows:
    print ('name: {} captain: {} last_wc_title: {} wc_winning_captain: {} total_title: {}'.format(row[0],row[1], row[2], row[3], row[4]))

name: India captain: Mahendra Singh Dhoni last_wc_title: 2011 wc_winning_captain: 2 total_title: MS Dhoni
name: England captain: Eoin Morgan last_wc_title: 2019 wc_winning_captain: 1 total_title: Eoin Morgan
name: Australia captain: Aron Finch last_wc_title: 2015 wc_winning_captain: 3 total_title: Michal Clark

In [58]:
session.execute("update ineuron3.cricket_team set captain = 'Mahendra Singh Dhoni' where name = 'India';")
rows=session.execute("select * from ineuron3.cricket_team where name = 'India';")
for row in rows:
     print ('name: {} captain: {} last_wc_title: {} wc_winning_captain: {} total_title: {}'.format(row[0],row[1], row[2], row[3], row[4]))

name: India captain: Mahendra Singh Dhoni last_wc_title: 2011 wc_winning_captain: 2 total_title: MS Dhoni

In [59]:
session.execute("delete from ineuron3.cricket_team where name = 'Pakistan';")
rows=session.execute("select * from ineuron3.cricket_team where name = 'Pakistan';")
for row in rows:
     print ('name: {} captain: {} last_wc_title: {} wc_winning_captain: {} total_title: {}'.format(row[0],row[1], row[2], row[3], row[4]))
else:
    print('No data found')

No data found

In [60]:
rows=session.execute("select *from ineuron3.cricket_team;")
for row in rows:
    print ('name: {} captain: {} last_wc_title: {} wc_winning_captain: {} total_title: {}'.format(row[0],row[1], row[2], row[3], row[4]))

name: Sri Lanka captain: Dimuth Karunaratne last_wc_title: 1996 wc_winning_captain: 1 total_title: Ranatunga
name: West Indies captain: Kraigg Brathwaite last_wc_title: 1979 wc_winning_captain: 2 total_title: Clive Lloyd
name: India captain: Mahendra Singh Dhoni last_wc_title: 2011 wc_winning_captain: 2 total_title: MS Dhoni
name: England captain: Eoin Morgan last_wc_title: 2019 wc_winning_captain: 1 total_title: Eoin Morgan
name: Australia captain: Aron Finch last_wc_title: 2015 wc_winning_captain: 3 total_title: Michal Clark

In [61]:
rows=session.execute("select count(*) from ineuron3.cricket_team;")
for row in rows:
    print(row)

Row(count=5)

In [62]:
rows=session.execute("select MIN(total_title) from ineuron3.cricket_team;")
for row in rows:
    print(row)

Row(system_min_total_title=1)

In [64]:
rows=session.execute("select MAX(total_title) from ineuron3.cricket_team;")
for row in rows:
    print(row)

Row(system_max_total_title=3)

In [66]:
rows=session.execute("select AVG(total_title) from ineuron3.cricket_team;")
for row in rows:
    print(row)

Row(system_avg_total_title=1)

In [67]:
rows=session.execute("select SUM(total_title) from ineuron3.cricket_team;")
for row in rows:
    print(row)

Row(system_sum_total_title=9)

In [73]:
rows=session.execute("select * from ineuron3.cricket_team where name in ('India','England','Australia','West Indies','Sri Lanka');")
for row in rows:
     print ('name: {} captain: {} last_wc_title: {} wc_winning_captain: {} total_title: {}'.format(row[0],row[1], row[2], row[3], row[4]))

name: Australia captain: Aron Finch last_wc_title: 2015 wc_winning_captain: 3 total_title: Michal Clark
name: England captain: Eoin Morgan last_wc_title: 2019 wc_winning_captain: 1 total_title: Eoin Morgan
name: India captain: Mahendra Singh Dhoni last_wc_title: 2011 wc_winning_captain: 2 total_title: MS Dhoni
name: Sri Lanka captain: Dimuth Karunaratne last_wc_title: 1996 wc_winning_captain: 1 total_title: Ranatunga
name: West Indies captain: Kraigg Brathwaite last_wc_title: 1979 wc_winning_captain: 2 total_title: Clive Lloyd